@model List<Hotel>

<h2>Search Results</h2>

@if (Model.Any())
{
    foreach (var hotel in Model)
    {
        <div>
            <h4>@hotel.Name</h4>
            <p>@hotel.Location - $@hotel.PricePerNight/night - Rating: @hotel.Rating</p>
        </div>
    }
}
else
{
    <p>No hotels found.</p>
}

