@{
    ViewData["Title"] = "Student Information";
    var studentName = "Kate Labis";
    var studentID = "101413112";
    var course = "COMP2139";
    var CRN = "50265";

    var studentName2 = "Ferdos Nurhusien";
    var studentID2 = "Your Student ID";
    var course2 = "COMP2139";
    var CRN2 = "Your CRN";
    var currentDate = DateTime.Now.ToString("yyyy-MM-dd");
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Student Name: @studentName <br />
        Student ID: @studentID <br />
        Course: @course <br />
        CRN: @CRN <br />
        Date: @currentDate
    </p>
</div>
<br />
<div class="text-center">
    <p>
        Student Name: @studentName2 <br />
        Student ID: @studentID2 <br />
        Course: @course2 <br />
        CRN: @CRN2 <br />
    </p>
</div>

